@import '../../styles.scss';

.table-wrapper {
	margin-top: 5rem;
	display: flex;
	justify-content: center;
}

.table-card {
	width: 400px;
	border-radius: 10px;
	box-shadow: $box-shadow;
	overflow: hidden;
}