<div class="list-body">
	<section class="container captured">
		<header>
			<h2>Captured Pokemon</h2>
		</header>
		<div class="divider"></div>
		<div class="data-group">
			<div *ngFor="let caught of caughtList">
				<p>
					{{caught | titlecase}}
					<button 
						type="button" 
						class="remove-from-caught"
						(click)="removeFromCaught(caught)"
					>Remove</button>
				</p>
			</div>
		</div>
	</section>
	
	
	<section class="container wishlist">
		<header>
			<h2>Wishlist</h2>
		</header>
		<div class="divider"></div>
		<div class="data-group">
			<div *ngFor="let wished of wishList">
				<p>
					{{wished | titlecase}}
					<button 
						type="button" 
						class="remove-from-wish"
						(click)="removeFromWishlist(wished)"
					>Remove</button>
				</p>
			</div>
		</div>
	</section>
</div>
